<% provide(:title, 'Resume') %>

<div class="container col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
	<div id="resumeAll">
		<!-- Header -->
			<%= render 'resume/header' %>
		<!-- Summary -->
			<%= render 'resume/summary' %>
		<!-- Skills -->
			<%= render 'resume/skills' %>
		<!-- Accomplishments -->
			<%= render 'resume/accomplishments' %>
		<!-- Experience -->
			<%= render 'resume/experience' %>
		<!-- Education -->
			<%= render 'resume/education' %>
	</div>
	<br />
</div>


