<% provide(:title, 'Resume') %>

<br />

<!-- Download URL -->
<div class="alert alert-success alert-dismissible col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  	<a href="https://dl.dropboxusercontent.com/u/61119290/James%20White%20Resume%202015.pdf" target="blank">Download as .PDF here!</a>
</div>

<div class="container col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12" id="resumeContainer">
	<div id="resumeAll">
		<!-- Header -->
			<%= render 'resume/header' %>
		<!-- Education -->
			<%= render 'resume/education' %>
		<!-- Skills -->
			<%= render 'resume/skills' %>
		<!-- Experience -->
			<%= render 'resume/experience' %>
		<!-- Activities -->
			<%= render 'resume/activities' %>
		<!-- Interests -->
			<%= render 'resume/interests' %>
	</div>
	<br />
</div>


