<!DOCTYPE html>
<html>
<head>
  <title>Justin White</title>
  <link rel="shortcut icon" href="http://i.imgur.com/jYLLt5x.png"/>
  <link rel="apple-touch-icon"
      sizes="144x144"
      href="http://i.imgur.com/jYLLt5x.png">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="siteBackground">
<div class="html-mobile-background"></div>
<%= render "layouts/navbar" %>
    <div class="container">
      <%= yield %>
    </div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
